@use "sass:map";

$button-variants: (
  primary: (
    bg: var(--tw-color-primary),
    fg: white,
    border: transparent,
  ),
  secondary: (
    bg: white,
    fg: var(--tw-color-text-dark),
    border: var(--tw-color-border),
  ),
);

.button {
  --radius: var(--tw-radius-sm);
  --padding-inline: 0.75rem;
  --padding-block: 0.5rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: var(--radius);
  padding-inline: var(--padding-inline);
  padding-block: var(--padding-block);
  font-weight: 500;
  min-width: fit-content;
  transition:
    background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out,
    color 0.2s ease-in-out;

  @each $variant, $properties in $button-variants {
    &--#{$variant} {
      background-color: map.get($properties, "bg");
      color: map.get($properties, "fg");
      border: 1px solid map.get($properties, "border");

      &:hover:not(:is(:disabled, .button--disabled)) {
        background-color: color-mix(
          in srgb,
          map.get($properties, "bg") 93%,
          black
        );
      }

      &:active:not(:is(:disabled, .button--disabled)) {
        border-color: var(--tw-color-primary);
      }
    }
  }

  // Sizes
  &--sm {
    --padding-inline: 0.5rem;
    --padding-block: 0.25rem;
    font-size: var(--tw-text-sm);
  }

  &--md {
    --padding-inline: 0.75rem;
    --padding-block: 0.5rem;
    font-size: var(--tw-text-base);
  }

  &--lg {
    --padding-inline: 1rem;
    --padding-block: 0.75rem;
    font-size: var(--tw-text-base);
  }

  &__prefix,
  &__suffix {
    flex-shrink: 0;
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
