@use "sass:map";

$button-variants: (
  primary: (
    bg: var(--tw-color-primary),
    fg: white,
    border: transparent,
  ),
  secondary: (
    bg: transparent,
    fg: var(--tw-color-text-dark),
    border: var(--tw-color-border),
  ),
);

.button {
  --radius: var(--tw-radius-sm);
  --padding-inline: 0.75rem;
  --padding-block: 0.5rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: var(--radius);
  padding-inline: var(--padding-inline);
  padding-block: var(--padding-block);
  font-weight: 500;
  transition:
    background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out,
    color 0.2s ease-in-out;

  @each $variant, $properties in $button-variants {
    &--#{$variant} {
      background-color: map.get($properties, "bg");
      color: map.get($properties, "fg");
      border: 1px solid map.get($properties, "border");

      &:hover {
        background-color: color-mix(
          in oklch,
          map.get($properties, "bg") 85%,
          black
        );
      }

      &:focus {
        outline: none;
        border-color: map.get($properties, "bg");
        box-shadow: 0
          0
          0
          2px
          color-mix(in oklch, map.get($properties, "bg") 25%, white);
      }

      &:disabled {
        color: map.get($properties, "fg-muted");
        border-color: map.get($properties, "border-muted");
        cursor: not-allowed;
      }
    }
  }

  // Sizes
  &--sm {
    --padding-inline: 0.5rem;
    --padding-block: 0.25rem;
    font-size: var(--tw-text-sm);
  }

  &--md {
    --padding-inline: 0.75rem;
    --padding-block: 0.5rem;
    font-size: var(--tw-text-base);
  }

  &--lg {
    --padding-inline: 1rem;
    --padding-block: 0.75rem;
    font-size: var(--tw-text-base);
  }
}
