.combobox {
  --radius: var(--form-radius);
  --padding-inline: var(--form-padding-inline-md);
  --padding-block: var(--form-padding-block-md);
  --height: var(--form-height-md);
  --icon-size: var(--form-icon-size-md);

  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  height: var(--height);
  background-color: var(--form-bg);
  border: 1px solid var(--form-border-color);
  border-radius: var(--radius);
  color: var(--form-text-color);
  font-size: var(--form-text-md);
  padding-inline-end: var(--padding-inline);
  transition: border-color 0.2s ease;

  &:focus-within {
    outline: none;
    border-color: var(--form-border-color-focus);
  }

  // Special case
  .p-hidden-accessible {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  &__input {
    flex: 1 0 0;
    border: none;
    outline: none;
    background-color: transparent;
    padding-inline: var(--padding-inline);
    padding-block: var(--padding-block);
    flex: 1;
    field-sizing: content;
    inline-size: 100%;
    font-size: var(--form-text-md);
    color: var(--form-text-color);

    &::placeholder {
      color: var(--form-text-muted);
    }
  }

  &__dropdown-menu {
    --radius: var(--form-radius);
    --padding-inline: var(--form-padding-inline-md);
    --padding-block: var(--form-padding-block-md);
    --height: var(--form-height-md);
    --icon-size: var(--form-icon-size-md);

    position: absolute;
    z-index: 10;
    margin-top: 0.25rem;
    overflow: auto;
    max-height: 15rem;
    border-radius: var(--form-radius);
    background-color: var(--form-bg);
    border: 1px solid var(--form-border-color);
    box-shadow: var(--form-overlay-shadow);
  }

  &__dropdown-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__dropdown-list-item {
    position: relative;
    cursor: pointer;
    user-select: none;
    padding-inline: var(--padding-inline);
    padding-block: calc(var(--padding-block) + 0.125rem);
    padding-inline-end: calc(var(--clear-size) + var(--padding-inline));
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: var(--form-text-md);

    &:hover,
    &--active {
      background-color: color-mix(
        in oklch,
        var(--tw-color-primary) 10%,
        transparent
      );
      color: var(--tw-color-primary);
    }

    &--selected {
      font-weight: 500;
    }

    &-icon {
      inline-size: var(--icon-size);
      block-size: var(--icon-size);
      flex-shrink: 0;
      color: var(--form-text-muted);
    }
  }

  &__empty-message {
    color: var(--form-text-muted);
    text-align: center;
    padding-block: var(--padding-block);
  }
}
