.game-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__main {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: flex-start;
      gap: 2rem;
    }
  }

  &__cover {
    max-width: 16rem;
    margin-inline: auto;
    border-radius: var(--tw-border-radius-lg);
    overflow: hidden;
    border-radius: 0.5rem;
    flex-shrink: 0;
    aspect-ratio: 540 / 720;
    background-color: var(--tw-color-border);

    @media (min-width: 768px) {
      margin-inline: 0;
      position: sticky;
      top: 1rem;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    flex-grow: 1;
  }

  &__section {
    & > * + * {
      margin-block-start: 0.125rem;
    }

    &-title {
      font-size: 1.25rem;
      font-weight: 600;
      font-variant-caps: all-petite-caps;
      margin-block-end: 0.125rem;
    }

    &-content {
      font-size: 0.875rem;
      color: var(--tw-neutral-300);
    }
  }

  &__screenshots {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 0.75rem;
    padding-bottom: 1rem;

    img {
      border-radius: var(--tw-radius-md);
    }
  }

  &__websites {
    list-style: none;
    padding: 0;

    a {
      display: inline-block;
      // truncate
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
