.game-details {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__main {
    display: grid;
    grid-template-columns: minmax(5vw, 10rem) auto;
    gap: 1rem;
    align-items: start;
  }

  &__cover {
    --radius: var(--tw-radius-lg);

    border-radius: var(--radius);
    overflow: hidden;
    aspect-ratio: 540 / 720;
    background-color: var(--tw-color-border);

    img {
      width: 100%;
      height: auto;
    }
  }

  &__metadata {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    flex-grow: 1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    flex-grow: 1;
  }

  &__section {
    & > * + * {
      margin-block-start: 0.25rem;
    }

    &-title {
      font-size: 1.25rem;
      line-height: 1.25;
      font-weight: 500;
      font-variant-caps: all-petite-caps;
    }

    &-content {
      font-size: 0.875rem;
      line-height: 1.25;
      color: var(--tw-neutral-300);
    }
  }

  &__screenshots {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 0.75rem;
    padding-bottom: 1rem;

    img {
      border-radius: var(--tw-radius-md);
    }
  }

  &__websites {
    list-style: none;
    padding: 0;

    a {
      display: inline-block;
      // truncate
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
