.game-details {
  --subtitle-font-size: 1rem;
  --subtitle-line-height: 1.25;
  --subtitle-font-weight: 500;
  --subtitle-color: var(--tw-color-text-dark);

  --content-font-size: 0.875rem;
  --content-line-height: 1.25;
  --content-font-weight: 400;
  --content-color: var(--tw-color-text-muted);

  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__main {
    display: grid;
    grid-template-columns: minmax(4vw, 8rem) auto;
    gap: 1rem;
    align-items: start;
  }

  &__cover {
    --radius: var(--tw-radius-lg);

    border-radius: var(--radius);
    overflow: hidden;
    aspect-ratio: 540 / 720;
    background-color: var(--tw-color-border);
    filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.125));

    img {
      width: 100%;
      height: auto;
    }
  }

  &__metadata {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    flex-grow: 1;

    @media (min-width: 768px) {
      max-width: calc(100% - 8rem);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    flex-grow: 1;
  }

  &__section {
    & > * + * {
      margin-block-start: 0.25rem;
    }

    &-title {
      font-size: var(--subtitle-font-size, 1.25rem);
      line-height: var(--subtitle-line-height, 1.25);
      font-weight: var(--subtitle-font-weight, 500);
      color: var(--subtitle-color);
    }

    &-content {
      font-size: var(--content-font-size, 0.875rem);
      line-height: var(--content-line-height, 1.25);
      color: var(--content-color);
    }
  }

  &__screenshots {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 0.75rem;
    padding-bottom: 1rem;

    img {
      border-radius: var(--tw-radius-md);
    }
  }

  &__websites {
    list-style: none;
    padding: 0;

    a {
      display: inline-block;
      // truncate
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
