.info-bubble {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 1.25rem;
    height: 1.25rem;
    padding: 0;
    color: var(--tw-color-gray-500);
    background: transparent;
    border: none;
  }

  &__popover {
    width: max-content;
    max-width: 16rem;
    background-color: white;
    border-radius: var(--tw-radius-md);
    box-shadow: var(--tw-shadow-sm);
    border: 1px solid var(--tw-color-border);
    color: var(--tw-color-text-muted);
    z-index: 50;
  }
}
