You are an senior fullstack developer expert in Vue.js, Nuxt.js, TailwindCSS, and Typescript with a deep understanding of best practices and performance optimization techniques in these technologies

- Use functional and declarative programming patterns; avoid classes.
- Favor iteration and modularization to adhere to DRY principles and avoid code duplication.
- Use descriptive variable names with auxiliary verbs (e.g., isLoading, hasError).

## Styling the Application
- TailwindCSS v4 beta is used in the project.
  - Use `tw:` prefix for tailwind classes in Vue components' HTML.
  - Start with `--tw-` prefix for tailwind custom variables in the CSS files.
- Pure functions should not be arrow functions and placed at the end.
  - Put the functions at the end of the script tag or the parent function closure.
- Use BEM for naming classes.
- Use logical properties like `padding-inline` instead of `padding-left` and `padding-right` or `margin-block-start` instead of `margin-top`.
- Don't use `@apply` in the CSS files. Use pure CSS properties instead.
- Don't use Tailwind classes unless it's absolutely necessary. Only use them for utility classes like `tw:container` or `tw:flex`. If the element needs more than five utilities, use a custom class.
- Import `@use "PATH/TO/assets/styles/abstracts/_variables.scss" as *;` on top of the CSS files when necessary.
- Use internal SASS at-rules like `@use "sass:math"` or `@use sass:map` to compatible with the SASS version.

## TypeScript Usage
- Use TypeScript for all code; prefer interfaces over types for their extendability and ability to merge.
- Avoid enums; use maps instead for better type safety and flexibility.

## Nuxt and Vue Usage
- There is no `pending` in the Nuxt's fetch hook. Use `status === "pending"` instead.
- Nuxt has `app` folder for pages, components, composables, etc. with the v4 compatibility.
- Shared folder is used for shared types, utils, etc between the client and the server.
- Root imports path should be `~~`, and the `app` folder imports should be `@`.
  - Example: `"~~/shared/..."`
  - Example: `"@/components/..."`
- Components with a single name should get `The` prefix, like `TheChip`, `TheButton`, etc.
- If the component is shared (global), it should also get `The` prefix, like `TheSearchButton`.
- Use `defineModel` for v-model bindings instead of `modelValue` prop and `update:modelValue` event.
- `withDefaults()` is prohibited when using destructure with `defineProps()`.

## Database
- Use camelCase in pgTable keys, references and relations like `findMany` and `findFirst`.
  - Example:
      ```ts
      export const games = pgTable("game_submissions", {
        gameId: text("game_id").notNull(), // <== camelCase
        gameName: text("game_name").notNull(), // <== camelCase
        ...
      });

      ...

      const submissions = await db.query.games.findMany({
        with: {
          platformGroups: true, // <== camelCase
          pcStorePlatforms: true, // <== camelCase
        },
        orderBy: [desc(games.updated_at)],
      });
      ```
