@forward "../abstracts/variables";

@layer theme {
  :root {
    accent-color: var(--tw-color-primary);
    --navbar-height: 64px;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--tw-color-border, currentColor);
  }

  ::selection {
    background-color: var(--tw-color-primary);
    color: white;
  }

  body {
    background-color: var(--tw-color-bg);
    color: var(--tw-color-fg);
  }

  :--heading {
    color: var(--tw-color-text-dark);
  }

  input,
  fieldset {
    border-style: solid;
    border-width: 1px;
    border-radius: 0.25rem;
  }

  label,
  legend {
    display: inline-block;
    font-weight: 500;
    font-size: 0.9375rem;
    line-height: 1.125;
  }

  button {
    cursor: pointer;
  }

  a {
    text-decoration: underline;
    color: var(--tw-color-primary);
  }
}
