@forward "../abstracts/variables";

@layer theme {
  :root {
    accent-color: var(--tw-color-primary);

    // Fonts
    --font-body: "Manrope", system-ui;
    --font-heading: "Space Grotesk", system-ui;
    --font-mono: "Roboto Mono", monospace;

    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 2rem;
    --text-4xl: 2.5rem;

    // Colors
    --color-overlay: rgba(0, 0, 0, 0.5);

    // Layout
    --navbar-height: 64px;
    --dropdown-max-height: 320px;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--tw-color-border, currentColor);
  }

  ::selection {
    background-color: var(--tw-color-primary);
    color: white;
  }

  body {
    background-color: var(--tw-color-bg);
    color: var(--tw-color-fg);
    color-scheme: dark;
  }

  :--heading {
    color: var(--tw-color-text-dark);
  }

  input,
  fieldset {
    border-style: solid;
    border-width: 1px;
    border-radius: 0.25rem;
  }

  label,
  legend {
    display: inline-block;
    font-weight: 500;
    font-size: var(--text-sm);
    line-height: 1.5;
    color: var(--tw-color-on-surface);
  }

  button {
    cursor: pointer;
    color: inherit;
  }

  a {
    text-decoration: underline;
    color: var(--tw-color-primary);
  }
}
