// Form element base variables
:root {
  // Sizes
  --form-padding-inline-sm: 0.5rem;
  --form-padding-block-sm: 0.25rem;
  --form-padding-inline-md: 0.75rem;
  --form-padding-block-md: 0.5rem;
  --form-padding-inline-lg: 1rem;
  --form-padding-block-lg: 0.75rem;

  // Heights (including border)
  --form-height-sm: 2rem;
  --form-height-md: 2.5rem;
  --form-height-lg: 3rem;

  // Icon sizes
  --form-icon-size-sm: 1rem;
  --form-icon-size-md: 1.125rem;
  --form-icon-size-lg: 1.25rem;

  // Font sizes
  --form-text-sm: var(--tw-text-sm);
  --form-text-md: var(--tw-text-base);
  --form-text-lg: var(--tw-text-lg);

  // Other
  --form-radius: var(--tw-radius-sm);
  --form-border-color: var(--tw-color-border);
  --form-border-color-focus: var(--tw-color-primary);
  --form-bg: white;
  --form-text-color: var(--tw-color-text-dark);
  --form-text-muted: var(--tw-color-text-muted);
  --form-overlay-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}
