@forward "../abstracts/variables"; // Necessary to use the custom selectors

@layer base {
  body {
    font-family: var(--font-body);
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  :--heading,
  p {
    overflow-wrap: break-word;
  }

  :--heading {
    font-family: var(--font-heading);
    font-weight: 700;
    line-height: 1.25;
    text-wrap: balance;
  }

  p {
    text-wrap: pretty;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  pre,
  code {
    font-size: 0.875rem;
    font-weight: 500;
    font-family: var(--font-mono);
  }
}
