@use "./abstracts/_variables.scss" as *;

.ProseMirror {
  p:empty:before {
    content: " ";
    white-space: pre;
  }

  ul {
    padding-inline-start: 1.25rem;
  }

  :--heading {
    font-weight: 600;
    margin-block-end: 0.25rem;
  }
}
