@use "./abstracts/_variables.scss" as *;

.ProseMirror {
  p:empty:before {
    content: " ";
    white-space: pre;
  }

  ul {
    padding-inline-start: 1.25rem;
  }

  :--heading {
    font-weight: 700;
    font-family: var(--tw-font-sans);
    margin-block-end: 0.25rem;
    color: var(--tw-color-fg);
  }

  h3 {
    font-size: 1rem;
  }

  h4 {
    font-size: 0.875rem;
  }

  strong {
    font-weight: 600;
  }
}
