/* https://tailwindcss.com/docs/v4-beta#css-configuration-in-depth */

@layer theme, base, components, utilities;

@import "tailwindcss/theme" layer(theme) prefix(tw);
@import "tailwindcss/utilities" layer(utilities) prefix(tw);

@theme {
  /* --font-*: initial;
  --font-body: "Figtree";
  --font-heading: "Lexend";
  --font-mono: "Roboto Mono"; */

  /* --color-*: initial; */
  --color-primary: #0792f7;
  --color-green: #55cc00;
  --color-yellow: #ffc833;
  --color-red: #e8573d;
  --color-bg: #fcf6f3;
  --color-fg: #494d50;
  --color-border: #c3c3c3;
  --color-text-muted: #6d7478;
  --color-text-dark: #303336;
  --color-overlay: color-mix(
    in oklch,
    var(--tw-color-text-dark) 50%,
    transparent
  );

  --text-*: initial;
  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;

  --spacing: 0.25rem;
}

@utility container {
  margin-inline: auto;
  padding-inline: calc(var(--tw-spacing) * 4);
}
