.prose {
  max-width: 80ch;
  color: var(--tw-color-fg);
  font-family: var(--tw-font-body);

  h1,
  h2,
  h3 {
    font-family: var(--tw-font-heading);
    color: var(--tw-color-text-dark);
  }

  h1 {
    font-size: calc(var(--tw-text-base) * 2.5);
    font-weight: 700;
    line-height: 1.2;
    margin-block-start: 0;
    margin-block-end: calc(var(--tw-spacing) * 6);
  }

  h2 {
    font-size: calc(var(--tw-text-base) * 1.75);
    font-weight: 600;
    line-height: 1.3;
    margin-block-start: calc(var(--tw-spacing) * 8);
    margin-block-end: calc(var(--tw-spacing) * 4);
  }

  h3 {
    font-size: calc(var(--tw-text-base) * 1.375);
    font-weight: 600;
    line-height: 1.3;
    margin-block-start: calc(var(--tw-spacing) * 6);
    margin-block-end: calc(var(--tw-spacing) * 3);
  }

  p {
    margin-block: calc(var(--tw-spacing) * 5);
  }

  :is(ul, ol) {
    list-style-position: outside;
    padding-inline-start: calc(var(--tw-spacing) * 6);
    margin-block: calc(var(--tw-spacing) * 5);
  }

  li {
    margin-block: calc(var(--tw-spacing) * 2);
  }

  a {
    color: var(--tw-color-primary);
    text-decoration: underline;
    text-underline-offset: 0.1em;

    &:hover {
      color: color-mix(in oklch, var(--tw-color-primary) 80%, black);
    }
  }

  strong {
    font-weight: 600;
    color: var(--tw-color-text-dark);
  }
}
