.prose {
  max-width: 80ch;

  h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.2;
    margin-block-start: 0;
    margin-block-end: 1rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
    margin-block-start: 1.5rem;
    margin-block-end: 0.5rem;
  }

  :is(ul, ol) {
    list-style-position: inside;
    padding-inline-start: 0.5rem;
  }
}
