@use "sass:map";
@use "../abstracts/variables" as *;

.game {
  font-size: 0.875rem;

  @media (min-width: map.get($breakpoints, md)) {
    font-size: 1rem;
  }

  // Base typography styles
  :--heading {
    font-weight: 500;
    margin-block-end: 0.5rem;
  }

  h2 {
    font-size: 1.25rem;
    line-height: 1.25;
  }

  h3 {
    font-size: 1.125rem;
    line-height: 1.25;
  }

  // Hero section styles
  &__hero {
    position: relative;
    overflow: hidden;
    padding-block: 2rem;
    color: white;

    @media (min-width: map.get($breakpoints, md)) {
      padding-block: 3rem;
    }

    &-wrapper {
      position: relative;
      z-index: 2;
      display: grid;
      grid-template-columns: min(20vw, 12rem) 1fr;
      gap: 1.5rem;
    }

    &-media {
      aspect-ratio: 3 / 4;
      height: auto;
      border-radius: 0.5rem;
      box-shadow:
        0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -1px rgb(0 0 0 / 0.06);
    }

    &-content {
      @media (min-width: map.get($breakpoints, md)) {
        padding-block: 1rem;
      }
    }

    &-heading {
      margin-block: 0 0.25rem;
      font-size: 1.5rem;
      font-weight: 700;
      color: white;

      @media (min-width: map.get($breakpoints, md)) {
        font-size: 2.5rem;
      }
    }

    &-backdrop {
      position: absolute;
      inset: 0;
      z-index: 1;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 1;
        background: linear-gradient(
          to bottom,
          color-mix(in oklch, var(--tw-color-fg) 90%, transparent),
          color-mix(in oklch, var(--tw-color-fg) 80%, transparent)
        );
      }
    }

    &-backdrop-image {
      position: relative;
      inline-size: 100%;
      block-size: 100%;
      object-fit: cover;
      object-position: bottom;
      filter: blur(12px);
      pointer-events: none;
    }
  }

  // Tabs styles
  &__tabs {
    &-list {
      display: flex;
      border-block-end: 1px solid
        color-mix(in oklch, var(--tw-color-fg) 10%, transparent);
    }

    &-trigger {
      padding-block: 0.5rem;
      padding-inline: 1.25rem;
      color: var(--tw-color-fg);
      background-color: transparent;
      border: none;
      border-block-end: 2px solid transparent;

      &--active {
        color: var(--tw-color-primary);
        border-block-end-color: var(--tw-color-primary);
      }
    }

    &-content {
      min-width: 0;
      padding-block: 1rem;

      &-wrapper {
        display: grid;

        @media (min-width: map.get($breakpoints, md)) {
          grid-template-columns: minmax(auto, 2fr) 1fr;
          gap: 1.5rem;
        }
      }
    }
  }

  // Utility classes
  &__modes {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
  }

  &__rating {
    display: flex;
    align-items: center;
    gap: 0.25rem;

    &-icon {
      color: var(--tw-color-yellow);
    }
  }
}
