@use "sass:map";
@use "../abstracts/variables" as *;

.game {
  &__hero {
    position: relative;
    overflow: hidden;
    padding-block: 2rem;
    color: white;

    @media (min-width: map.get($breakpoints, md)) {
      padding-block: 3rem;
    }

    &-wrapper {
      position: relative;
      z-index: 2;
      display: grid;
      grid-template-columns: min(20vw, 12rem) 1fr;
      gap: 1.5rem;
    }

    &-media {
      aspect-ratio: 3 / 4;
      height: auto;
      border-radius: 0.5rem;
      box-shadow:
        0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -1px rgb(0 0 0 / 0.06);
    }

    &-content {
      @media (min-width: map.get($breakpoints, md)) {
        padding-block: 1rem;
      }
    }

    &-heading {
      margin-block: 0 0.25rem;
      font-size: 1.5rem;
      font-weight: 700;
      color: white;

      @media (min-width: map.get($breakpoints, md)) {
        font-size: 2.5rem;
      }
    }

    &-rating {
      display: flex;
      align-items: center;
      gap: 0.25rem;

      &-icon {
        color: var(--tw-color-yellow);
      }
    }

    &-backdrop {
      position: absolute;
      inset: 0;
      z-index: 1;

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 1;
        background: linear-gradient(
          to bottom,
          color-mix(in oklch, var(--tw-color-fg) 90%, transparent),
          color-mix(in oklch, var(--tw-color-fg) 80%, transparent)
        );
      }
    }

    &-backdrop-image {
      position: relative;
      inline-size: 100%;
      block-size: 100%;
      object-fit: cover;
      object-position: bottom;
      filter: blur(12px);
      pointer-events: none;
    }
  }

  &__modes {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
  }

  &__content {
    &-summary {
      font-size: 0.875rem;

      @media (min-width: map.get($breakpoints, md)) {
        font-size: 1rem;
      }
    }

    &-description {
      padding-block: 2rem;
      white-space: pre-wrap;
    }
  }

  &__ratings {
    padding-block: 1rem;
    background-color: color-mix(in oklch, var(--tw-color-fg) 7.5%, transparent);

    &-title {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
    }

    &-list {
      display: grid;
      grid-template-columns: max-content 1fr;
      gap: 1rem;
    }

    &-image {
      height: 3rem;
    }

    &-descriptions {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    &-content {
      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem;
    }
  }

  &__tabs {
    &-list {
      display: flex;
      border-block-end: 1px solid
        color-mix(in oklch, var(--tw-color-fg) 10%, transparent);
    }

    &-trigger {
      padding-block: 0.5rem;
      padding-inline: 1.25rem;
      color: var(--tw-color-fg);
      background-color: transparent;
      border: none;
      border-block-end: 2px solid transparent;

      &--active {
        color: var(--tw-color-primary);
        border-block-end-color: var(--tw-color-primary);
      }
    }

    &-content {
      padding-block: 1rem;
    }
  }

  &__about,
  &__platforms {
    &-title {
      margin-block-end: 0.5rem;
      font-size: 1.25rem;
      font-weight: 500;
    }
  }

  &__platforms {
    &-description {
      font-size: 0.875rem;
      color: var(--tw-color-text-muted);
      margin-block-end: 1rem;
    }

    &-list {
      display: grid;
      grid-template-columns: max-content 1fr;
      gap: 1rem;
    }

    &-items {
      display: flex;
      flex-wrap: wrap;
      gap: 0.75rem 0.5rem;
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }

    &-icon {
      flex-shrink: 0;
    }
  }
}
